/* Đã import các phông chữ trong index.html */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  color: #333;
  background-color: #f9f7f2;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

button, .btn {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.5px;
}

.app {
  width: 80%;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .app {
    width: 90%;
  }
}